<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModBusV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ModBusV1.Properties.Settings>
            <setting name="Baudrate" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ParityBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Refresh" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value>1</value>
            </setting>
        </ModBusV1.Properties.Settings>
    </userSettings>
</configuration>